<footer class="f-info d-flex flex-column align-items-center sticky-bottom border-top">
    <div class="f-info-socials">
        <a class="f-link" href="https://www.linkedin.com/in/sathish-dath-d-s-226671321?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app " target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a class="f-link" href="https://www.linkedin.com/in/sathish-dath-d-s-226671321?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app " target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        <a class="f-link" href="https://www.linkedin.com/in/sathish-dath-d-s-226671321?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app " target="_blank"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="f-info-company">&copy; 2024 WanderLust Private Limited</div>
    <div class="f-info-details">
        <a class="f-link" href="/privacy">Privacy</a><span> - </span>
        <a class="f-link" href="/terms">Terms</a><span> - </span>
        <a class="f-link" href="/companydetails">Company details</a>
    </div>
</footer>