<% layout("layouts/boilerplate.ejs") %>
<h1>Company Details</h1>
<div>
    <h5>Provider of the website:</h5>
    <pre>Wanderlust Ireland UC
        8 Hanover Quay
        Dublin 2, D02 DP23
        Ireland</pre>
</div>
<div>
   <b>Directors:</b> 
Dermot Clarke and Killian Pattwell
<b>VAT-ID: IE9827384L</b>
<b>Trade Register Number:</b> (Irish Companies Registration Office) IE 51182
</div>
<div>
    <p>Contact us:</p>
    <h4>Email address :<a href="google.com">terms@wanderlust.com</a></h4>
</div>
<div>
    <pre>
        If you have a complaint or concern about Wanderlust’s platform or violations of Wanderlust’s Terms of Service, you may contact the India grievance officer:
Wanderlust Ireland UC

attn: Andrea Finnegan, Grievance Officer

8 Hanover Quay
Dublin 2, D02 DP23
Ireland
    </pre>
</div>