<% layout("layouts/boilerplate.ejs") %>
<h1>Wanderlust Privacy</h1>
<img src="https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/blt1218bbc6d8c51315/61dcad421757dc6aed2ade70/airbnb-privacy.jpeg">
<div>
    <h3>Privacy Policy</h3>
    <p>Our Privacy Policy explains what personal information we collect, how we use personal information, how personal information is shared, and privacy rights.</p>
</div>
<div>
    <h4>Supplemental Privacy Policy Documents</h4>
    <ol>
        <li>Outside the United States</li>
        <li>State-Specific Supplements</li>
        <li>Cookie Policy</li>
        <li>Enterprise Customers and Airbnb for Work</li>
        <li>Privacy Supplement for China Users</li>
        <li>Colombia Only</li>
    </ol>
</div>

