<% layout("/layouts/boilerplate")%>
<style>
    @media (max-width:767px) {
       .row{
        margin-left: 3rem;
       } 
       .inp input,.inp{
        font-size: larger;
        width: 14rem;
       }
       
    }
    @media (min-width:992px){
        .row{
        margin-left: 3rem;
       } 
        .main{
            margin-left: 4rem;
        }
    }
</style>
<div class="row">
    <h1 class="col-6 ">Login on Wanderlust</h1>
    <div class="col-6 main ">
        <form action="/login" method="post" class="needs-validation" novalidate>
            <div class="mb-3 inp">
                <label class="form-label" for="username">Username: </label>
               <input type="text" class="form-control" id="username" name="username" required>
               
            </div>

            <div class="mb-3 inp">
                <label class="form-label" for="password">Password: </label>
               <input type="password" class="form-control" id="password" name="password" required>
            </div>

            

            <button class="btn btn-success">Login</button>
        </form>
    </div>
    <div class="col-3 offset-7">
        <p>New to Wanderlust? <a href="/signup"><span class="badge text-bg-primary">SignUp</span></a></p>
    </div>
</div>